body {
    font-family: 'Work Sans', sans-serif;
    background-color: #eee;
    display: flex;
    justify-content: center;
    color: #505355;
}

.main-container {
    background-color: white;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);   
}

.img-container {
    display: flex;
    justify-content: center;
    background-color: #1ECEFD;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

img {
    height: 300px;
}

.profile-container {
    padding: 10px;

}

.name {
    font-size: 25px;
    margin: 20px 0 0 0;
}

.email {
    color: lightgrey;
    font-size: 15px;
    margin: auto;
}

.form-container {
    background-color: white;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.instructions {
    font-size: 20px;
}

label {
    font-size: 18px;
    color: #1ECEFD;
}

input {
    font-size: 15px;
    padding: 14px;
    margin: 15px;
    border-radius: 15px;
    border: 1px solid #505355;
}

textarea {
    font-size: 15px;
    padding: 14px;
    margin: 15px;
    border-radius: 15px;
    border: 1px solid #505355;
    resize: none;
}

button {
    width: 90%;
    background-color: #505355;
    color: white;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    left: 20px;
}

button:hover {
    background-color: #5BECD8;
}
